<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/common/css/reset.css">
    <link rel="stylesheet" href="./static/common/css/header.css">
    <link rel="stylesheet" href="./static/index/css/index.css">
    <title>首页</title>
</head>
<body>
    <div id="header">
        <ul class="wrapper"></ul>
    </div>
    <div id="content">
        <div class="container">
            <p class="myblog">个人博客</p>
            <p class="blog-description">简洁、直观、强悍的前端开发框架，让web开发更迅速、简单。</p>
            <a class="blog-code-address" href="https://github.com/zhuyuzhu/technology" target="_blank">源码地址</a>
        </div>
        <div class="project">
            <ul class="pro_wrap">
                <a href="">
                    <li>
                        <img src="https://cdn.jsdelivr.net/npm/@bootcss/www.bootcss.com@0.0.35/dist/img/nodejs.png" alt="">
                        <div class="project_name"><span>Node.js</span></div>
                        <div class="description">Node.js 是一个基于 Chrome V8 引擎的 JavaScript 运行环境。Node.js 使用了一个事件驱动、非阻塞式 I/O 的模型，使其轻量又高效。</div>
                    </li>
                </a>
            </ul>
        </div>
    </div>

    <script src="/static/common/js/header.js"></script>
    <script src="/static/index/js/index.js"></script>
</body>
</html>