<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/common/css/reset.css">
    <link rel="stylesheet" href="/static/common/css/header.css">
    <link rel="stylesheet" href="/static/common/css/lefttree.css">
    <link rel="stylesheet" href="/static/common/css/iconfont.css">
    <link rel="stylesheet" href="/static/javascript/css/javascript.css">
    <link rel="stylesheet" href="/static/common/css/htmledit.css">
    <link rel="stylesheet" href="/static/common/css/content.css">
    <title>JavaScript</title>
</head>
<body>
    <div id="header">
        <ul class="wrapper"></ul>
    </div>

    <div id="lefttree">

    </div>

    <div id="content">
        <div class="left-tree"></div>
        <main>
            <div class="blog-content-box">
                <article class="baidu_pl">
                    <div id="article_content" class="article_content clearfix">
                        
                        <div class="htmledit_views" id="content_views" >
                            {{@docs.content}}
                        </div>
                </article>
    
            </div>
            
        </main>
        <!-- <button id="saveBtn">保存按钮</button> -->
    </div>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/js/header.js"></script>
    <script src="/static/javascript/js/javascript.js" type="module"></script>
</body>
</html>